In [1]:
import pandas as pd 
import numpy as np

In [3]:
d = pd.read_csv("oxfordmanrealizedvolatilityindices.csv")
d

,Unnamed: 0,Symbol,open_time,close_price,rv5_ss,bv,rk_parzen,rk_twoscale,bv_ss,open_price,nobs,rk_th2,medrv,rv10_ss,rsv_ss,open_to_close,rv10,rsv,rv5,close_time
0,2000-01-03 00:00:00+00:00,.AEX,90101.0,675.44,0.000130,0.000100,0.000179,0.000103,0.000100,675.67,1795.0,0.000102,0.000050,0.000178,0.000046,-0.000340,0.000178,0.000046,0.000130,163015.0
1,2000-01-04 00:00:00+00:00,.AEX,90416.0,642.25,0.000201,0.000207,0.000423,0.000199,0.000207,664.20,1785.0,0.000201,0.000075,0.000261,0.000147,-0.033606,0.000261,0.000147,0.000201,163016.0
2,2000-01-05 00:00:00+00:00,.AEX,90016.0,632.31,0.000491,0.000361,0.000324,0.000325,0.000361,633.37,1801.0,0.000345,0.000166,0.000714,0.000328,-0.001675,0.000714,0.000328,0.000491,163016.0
3,2000-01-06 00:00:00+00:00,.AEX,90016.0,624.21,0.000225,0.000258,0.000219,0.000218,0.000258,632.46,1799.0,0.000221,0.000152,0.000182,0.000116,-0.013130,0.000182,0.000116,0.000225,163002.0
4,2000-01-07 00:00:00+00:00,.AEX,90046.0,644.86,0.000138,0.000130,0.000155,0.000126,0.000130,628.93,1798.0,0.000123,0.000039,0.000157,0.000048,0.025013,0.000157,0.000048,0.000138,163016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129204,2018-06-21 00:00:00+01:00,.STOXX50E,100015.0,3403.37,0.000065,0.000063,0.000069,0.000071,0.000063,3442.69,4231.0,0.000072,0.000028,0.000068,0.000037,-0.011487,0.000068,0.000037,0.000065,183002.0
129205,2018-06-22 00:00:00+01:00,.STOXX50E,100015.0,3437.31,0.000053,0.000033,0.000026,0.000041,0.000033,3407.29,4244.0,0.000041,0.000014,0.000052,0.000026,0.008772,0.000052,0.000026,0.000053,183002.0
129206,2018-06-25 00:00:00+01:00,.STOXX50E,100015.0,3373.87,0.000048,0.000047,0.000046,0.000047,0.000047,3422.60,4131.0,0.000048,0.000029,0.000047,0.000032,-0.014340,0.000047,0.000032,0.000048,183002.0
129207,2018-06-26 00:00:00+01:00,.STOXX50E,100015.0,3374.25,0.000026,0.000023,0.000022,0.000031,0.000023,3379.14,4236.0,0.000032,0.000016,0.000027,0.000016,-0.001448,0.000027,0.000016,0.000026,183015.0
129208,2018-06-27 00:00:00+01:00,.STOXX50E,100015.0,3394.73,0.000101,0.000101,0.000172,0.000105,0.000101,3368.12,4203.0,0.000108,0.000054,0.000130,0.000032,0.007870,0.000130,0.000032,0.000101,183002.0

In [4]:
d.columns

Index(['Unnamed: 0', 'Symbol', 'open_time', 'close_price', 'rv5_ss', 'bv',
       'rk_parzen', 'rk_twoscale', 'bv_ss', 'open_price', 'nobs', 'rk_th2',
       'medrv', 'rv10_ss', 'rsv_ss', 'open_to_close', 'rv10', 'rsv', 'rv5',
       'close_time'],
      dtype='object')

In [7]:
d['Symbol'].unique()

array(['.AEX', '.AORD', '.BFX', '.BSESN', '.BVLG', '.BVSP', '.DJI',
       '.FCHI', '.FTMIB', '.FTSE', '.GDAXI', '.GSPTSE', '.HSI', '.IBEX',
       '.IXIC', '.KS11', '.KSE', '.MXX', '.N225', '.NSEI', '.OMXC20',
       '.OMXHPI', '.OMXSPI', '.OSEAX', '.RUT', '.SMSI', '.SPX', '.SSEC',
       '.SSMI', '.STI', '.STOXX50E'], dtype=object)

In [ ]:
# ... après combined = pivot_prices.join(...)
df = pd.read_csv("oxfordmanrealizedvolatilityindices.csv")
df = df.rename(columns={'Unnamed: 0': 'date'})
df['date'] = pd.to_datetime(df['date'])

#pivot pour passer de format long à wide 
pivot_prices = df.pivot(index='date', columns='Symbol', values='close_price')
pivot_rv5 = df.pivot(index='date', columns='Symbol', values='rv5')

#on combine les 2 pivot tables
combined = pivot_prices.join(pivot_rv5, lsuffix='_price', rsuffix='_rv')
# combined = combined.dropna() 



# 1. Calculer la première date valide pour chaque colonne
start_dates = combined.apply(lambda x: x.first_valid_index())
start_dates2=
# 2. (Optionnel) Compter le nombre de jours de données présents
# counts = combined.count()

# 3. Créer un petit rapport lisible
report = pd.DataFrame({
    'Start Date': start_dates,
})

# 4. Trier par date de début (du plus récent au plus ancien)
# Les actifs en haut de la liste sont ceux qui "bloquent" votre historique
report = report.sort_values(by='Start Date', ascending=False)

print("--- DIAGNOSTIC DES DATES DE DÉBUT ---")
print(report.tail(20))

C:\Users\jean-\AppData\Local\Temp\ipykernel_21432\1235142815.py:4: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['date'] = pd.to_datetime(df['date'])

--- DIAGNOSTIC DES DATES DE DÉBUT ---
                          Start Date
Symbol
.FTSE      2000-01-04 00:00:00+00:00
.SSEC      2000-01-04 00:00:00+00:00
.SSMI      2000-01-04 00:00:00+00:00
.RUT       2000-01-03 00:00:00+00:00
.SPX       2000-01-03 00:00:00+00:00
.STI       2000-01-03 00:00:00+00:00
.NSEI      2000-01-03 00:00:00+00:00
.AEX       2000-01-03 00:00:00+00:00
.MXX       2000-01-03 00:00:00+00:00
.KSE       2000-01-03 00:00:00+00:00
.IXIC      2000-01-03 00:00:00+00:00
.IBEX      2000-01-03 00:00:00+00:00
.HSI       2000-01-03 00:00:00+00:00
.GDAXI     2000-01-03 00:00:00+00:00
.FCHI      2000-01-03 00:00:00+00:00
.DJI       2000-01-03 00:00:00+00:00
.BVSP      2000-01-03 00:00:00+00:00
.BSESN     2000-01-03 00:00:00+00:00
.BFX       2000-01-03 00:00:00+00:00
.STOXX50E  2000-01-03 00:00:00+00:00

In [43]:
pd.DataFrame(pivot_prices.apply(lambda x: x.last_valid_index()))

                                  0
Symbol
.AEX      2018-06-27 00:00:00+01:00
.AORD     2018-06-27 00:00:00+01:00
.BFX      2018-06-27 00:00:00+01:00
.BSESN    2018-06-27 00:00:00+01:00
.BVSP     2018-06-27 00:00:00+01:00
.DJI      2018-06-27 00:00:00+01:00
.FCHI     2018-06-27 00:00:00+01:00
.FTSE     2018-06-27 00:00:00+01:00
.GDAXI    2018-06-27 00:00:00+01:00
.GSPTSE   2018-06-27 00:00:00+01:00
.HSI      2018-06-27 00:00:00+01:00
.IBEX     2018-06-27 00:00:00+01:00
.IXIC     2018-06-27 00:00:00+01:00
.KS11     2018-06-27 00:00:00+01:00
.KSE      2018-06-27 00:00:00+01:00
.MXX      2018-06-27 00:00:00+01:00
.N225     2018-06-27 00:00:00+01:00
.NSEI     2018-06-27 00:00:00+01:00
.OMXC20   2018-06-27 00:00:00+01:00
.OMXHPI   2018-06-27 00:00:00+01:00
.OMXSPI   2018-06-27 00:00:00+01:00
.OSEAX    2018-06-27 00:00:00+01:00
.RUT      2018-06-27 00:00:00+01:00
.SMSI     2018-06-27 00:00:00+01:00
.SPX      2018-06-27 00:00:00+01:00
.SSEC     2018-06-27 00:00:00+01:00
.SSMI     2018-06-27 00:00:00+01:00
.STI      2018-06-27 00:00:00+01:00
.STOXX50E 2018-06-27 00:00:00+01:00

In [29]:
pd.DataFrame(pivot_rv5.apply(lambda x: x.first_valid_index()))

                                   0
Symbol
.AEX       2000-01-03 00:00:00+00:00
.AORD      2000-01-04 00:00:00+00:00
.BFX       2000-01-03 00:00:00+00:00
.BSESN     2000-01-03 00:00:00+00:00
.BVLG      2012-10-15 00:00:00+01:00
.BVSP      2000-01-03 00:00:00+00:00
.DJI       2000-01-03 00:00:00+00:00
.FCHI      2000-01-03 00:00:00+00:00
.FTMIB     2009-06-01 00:00:00+01:00
.FTSE      2000-01-04 00:00:00+00:00
.GDAXI     2000-01-03 00:00:00+00:00
.GSPTSE    2002-05-02 00:00:00+01:00
.HSI       2000-01-03 00:00:00+00:00
.IBEX      2000-01-03 00:00:00+00:00
.IXIC      2000-01-03 00:00:00+00:00
.KS11      2000-01-04 00:00:00+00:00
.KSE       2000-01-03 00:00:00+00:00
.MXX       2000-01-03 00:00:00+00:00
.N225      2000-02-02 00:00:00+00:00
.NSEI      2000-01-03 00:00:00+00:00
.OMXC20    2005-10-03 00:00:00+01:00
.OMXHPI    2005-10-03 00:00:00+01:00
.OMXSPI    2005-10-03 00:00:00+01:00
.OSEAX     2001-09-03 00:00:00+01:00
.RUT       2000-01-03 00:00:00+00:00
.SMSI      2005-07-04 00:00:00+01:00
.SPX       2000-01-03 00:00:00+00:00
.SSEC      2000-01-04 00:00:00+00:00
.SSMI      2000-01-04 00:00:00+00:00
.STI       2000-01-03 00:00:00+00:00
.STOXX50E  2000-01-03 00:00:00+00:00

In [ ]:


df = pd.read_csv("oxfordmanrealizedvolatilityindices.csv")

#we remove these 2 tickers as we don't have enough data on them 
df = df[~df['Symbol'].isin(['.BVLG','.FTMIB'])]
df = df.rename(columns={'Unnamed: 0': 'date'})
df['date'] = pd.to_datetime(df['date'])

#pivot pour passer de format long à wide 
pivot_prices = df.pivot(index='date', columns='Symbol', values='close_price')
pivot_rv5 = df.pivot(index='date', columns='Symbol', values='rv5')

#on combine les 2 pivot tables
combined = pivot_prices.join(pivot_rv5, lsuffix='_price', rsuffix='_rv')
combined

C:\Users\jean-\AppData\Local\Temp\ipykernel_21432\3432705881.py:6: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['date'] = pd.to_datetime(df['date'])

Symbol,.AEX_price,.AORD_price,.BFX_price,.BSESN_price,.BVSP_price,.DJI_price,.FCHI_price,.FTSE_price,.GDAXI_price,.GSPTSE_price,...,.OMXHPI_rv,.OMXSPI_rv,.OSEAX_rv,.RUT_rv,.SMSI_rv,.SPX_rv,.SSEC_rv,.SSMI_rv,.STI_rv,.STOXX50E_rv
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00+00:00,675.44,NaN,3311.05,5375.11,16933.000000,11353.16,5917.37,NaN,6765.18,NaN,...,NaN,NaN,NaN,0.000072,NaN,0.000141,NaN,NaN,0.000126,0.000313
2000-01-04 00:00:00+00:00,642.25,3122.7,3172.21,5491.01,15905.000000,11001.03,5672.02,6666.10,6589.47,NaN,...,NaN,NaN,NaN,0.000053,NaN,0.000224,0.000117,0.000137,0.000079,0.000226
2000-01-05 00:00:00+00:00,632.31,3052.0,3057.53,5357.00,16283.000000,11127.61,5479.70,6536.20,6493.00,NaN,...,NaN,NaN,NaN,0.000060,NaN,0.000314,0.000206,0.000157,0.001455,0.000464
2000-01-06 00:00:00+00:00,624.21,3030.1,3061.09,5421.53,16152.000000,11247.37,5450.11,6447.60,6472.28,NaN,...,NaN,NaN,NaN,0.000045,NaN,0.000131,0.000254,0.000124,0.000288,0.000104
2000-01-07 00:00:00+00:00,644.86,3042.7,3138.55,5414.48,16355.000000,11521.32,5539.61,6505.00,6780.96,NaN,...,NaN,NaN,NaN,0.000017,NaN,0.000094,0.000514,0.000083,0.000095,0.000122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-21 00:00:00+01:00,552.64,6341.8,3727.62,35427.62,70074.899268,24462.56,5315.70,7558.75,12507.14,16335.15,...,0.000034,0.000033,0.000032,0.000039,0.000060,0.000030,0.000125,0.000051,0.000032,0.000065
2018-06-22 00:00:00+01:00,559.81,6321.7,3761.88,35691.83,70640.649941,24581.16,5384.33,7687.26,12559.75,16450.14,...,NaN,NaN,0.000045,0.000030,0.000039,0.000015,0.000124,0.000041,0.000023,0.000053
2018-06-25 00:00:00+01:00,NaN,6305.4,3714.14,35479.06,70952.970000,24254.93,5290.91,7508.81,12282.21,16183.96,...,0.000029,0.000041,0.000048,0.000075,0.000048,0.000082,0.000065,0.000056,0.000044,0.000048
2018-06-26 00:00:00+01:00,548.34,6287.3,3718.40,35478.91,71404.590000,24280.53,5294.15,7555.95,12245.11,16280.09,...,0.000028,0.000030,0.000037,0.000020,0.000058,0.000029,0.000132,0.000050,0.000054,0.000026
2018-06-27 00:00:00+01:00,551.36,6292.2,3727.02,35191.27,70609.000000,24123.02,5328.14,7611.80,12339.17,16231.25,...,0.000063,0.000063,0.000082,0.000039,0.000117,0.000074,0.000110,0.000100,0.000041,0.000101

In [44]:
pd.DataFrame(combined.isna().sum(axis=0))

                    0
Symbol
.AEX_price        133
.AORD_price       182
.BFX_price        135
.BSESN_price      256
.BVSP_price       291
.DJI_price        212
.FCHI_price       134
.FTSE_price       187
.GDAXI_price      155
.GSPTSE_price     804
.HSI_price        315
.IBEX_price       166
.IXIC_price       210
.KS11_price       297
.KSE_price        353
.MXX_price        207
.N225_price       346
.NSEI_price       261
.OMXC20_price    1680
.OMXHPI_price    1650
.OMXSPI_price    1651
.OSEAX_price      655
.RUT_price        211
.SMSI_price      1535
.SPX_price        206
.SSEC_price       386
.SSMI_price       211
.STI_price       2151
.STOXX50E_price   134
.AEX_rv           133
.AORD_rv          182
.BFX_rv           135
.BSESN_rv         256
.BVSP_rv          291
.DJI_rv           212
.FCHI_rv          134
.FTSE_rv          187
.GDAXI_rv         155
.GSPTSE_rv        804
.HSI_rv           315
.IBEX_rv          166
.IXIC_rv          210
.KS11_rv          297
.KSE_rv           353
.MXX_rv           207
.N225_rv          346
.NSEI_rv          261
.OMXC20_rv       1680
.OMXHPI_rv       1650
.OMXSPI_rv       1651
.OSEAX_rv         655
.RUT_rv           211
.SMSI_rv         1535
.SPX_rv           206
.SSEC_rv          386
.SSMI_rv          211
.STI_rv          2151
.STOXX50E_rv      134

In [32]:


df = pd.read_csv("oxfordmanrealizedvolatilityindices.csv")

#we remove these 2 tickers as we don't have enough data on them 
df = df[~df['Symbol'].isin(['.BVLG','.FTMIB'])]
df = df.rename(columns={'Unnamed: 0': 'date'})
df['date'] = pd.to_datetime(df['date'])

#pivot pour passer de format long à wide 
pivot_prices = df.pivot(index='date', columns='Symbol', values='close_price')
pivot_rv5 = df.pivot(index='date', columns='Symbol', values='rv5')

#on combine les 2 pivot tables
combined = pivot_prices.join(pivot_rv5, lsuffix='_price', rsuffix='_rv')
combined = combined.dropna() 

# Séparation après nettoyage
prices = combined.filter(like='_price')
variances = combined.filter(like='_rv')

# Renommage des colonnes pour avoir juste les symboles
prices.columns = [c.replace('_price', '') for c in prices.columns]
variances.columns = [c.replace('_rv', '') for c in variances.columns]

#Compute returns and realized covariances 
returns_df = prices.pct_change()
realized_vol_df = np.sqrt(variances)

# realign datasets 
valid_idx = returns_df.index.intersection(realized_vol_df.index)
returns_df = returns_df.loc[valid_idx].dropna()
realized_vol_df = realized_vol_df.loc[returns_df.index]

#Compute realized correlations (rollign window of 60 days)
# crée un objet MultiIndex (Date x Symbol) pour les corrélations
rolling_corr = returns_df.rolling(window=60).corr() 

# On doit supprimer les premiers jours (car on n'a pas les 60 premieres valeurs de correlation)
returns_df = returns_df.iloc[60:]
realized_vol_df = realized_vol_df.iloc[60:]
valid_dates = returns_df.index

#construction of the tensor containing realized covariances
T = len(valid_dates)
N = len(returns_df.columns)

# Structures finales
cov_tensor = np.zeros((T, N, N))
returns_matrix = returns_df.values

assets = returns_df.columns.tolist()
dates = valid_dates.values

for t, date in enumerate(valid_dates):
    # vector containing daily realized volatilities (oxford data)
    sigma_vec = realized_vol_df.loc[date].values
    
    # matrix of estimated realized covariance matrix, built from daily realized volatility and historical correlations (computed over 60 days)
    R = rolling_corr.loc[date].values
        
    # Cov = Sigma_outer * R
    # avec Sigma_outer = matrice des produits sigma_i * sigma_j pour la date t 
    Sigma_outer = np.outer(sigma_vec, sigma_vec)
    V_real = Sigma_outer * R
    
    cov_tensor[t, :, :] = V_real



data = {
    'dates': dates,
    'assets': assets,
    'returns': returns_matrix,      
    'realized_covs': cov_tensor     
}

# --- EXEMPLE D'UTILISATION ---
# data = prepare_olps_dataset('votre_fichier.csv')
# r_t = data['returns'][0]      # Rendement du 1er jour
# V_t = data['realized_covs'][0] # Covariance réalisée du 1er jour

C:\Users\jean-\AppData\Local\Temp\ipykernel_21432\1317977488.py:6: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['date'] = pd.to_datetime(df['date'])

In [33]:
print("dates:",data['dates'][:5])
print("assets:",data['assets'])
print("first day return",data['returns'][0])
print("first day realized covariance",data['realized_covs'][0])

dates: [Timestamp('2006-03-08 00:00:00+0000', tz='UTC')
 Timestamp('2006-03-09 00:00:00+0000', tz='UTC')
 Timestamp('2006-03-10 00:00:00+0000', tz='UTC')
 Timestamp('2006-03-14 00:00:00+0000', tz='UTC')
 Timestamp('2006-03-16 00:00:00+0000', tz='UTC')]
assets: ['.AEX', '.AORD', '.BFX', '.BSESN', '.BVSP', '.DJI', '.FCHI', '.FTSE', '.GDAXI', '.GSPTSE', '.HSI', '.IBEX', '.IXIC', '.KS11', '.KSE', '.MXX', '.N225', '.NSEI', '.OMXC20', '.OMXHPI', '.OMXSPI', '.OSEAX', '.RUT', '.SMSI', '.SPX', '.SSEC', '.SSMI', '.STI', '.STOXX50E']
first day return [-0.00832656 -0.00263961  0.00054024 -0.02107457 -0.00164775  0.00253803
 -0.00454708 -0.00748802 -0.01161032 -0.00647457 -0.00700343 -0.00426715
 -0.0004188  -0.00195195 -0.04401108 -0.00820707 -0.00626541 -0.02085886
 -0.00525336  0.01414795 -0.0080169  -0.01054577  0.00108174 -0.00510632
  0.00206187 -0.00756874 -0.00368045 -0.0007686  -0.00421172]
first day realized covariance [[ 6.29222214e-05  1.13923332e-05  4.46413273e-05  5.78426677e-05
   2.30038156e-06  1.57211951e-05  5.53252517e-05  3.71796240e-05
   7.31124348e-05  3.51450025e-05  6.93064101e-06  4.12698816e-05
   1.03945989e-05  3.24245858e-05  6.38896764e-05  1.47231222e-05
   4.54667950e-05  4.93437135e-05  2.59370458e-05  4.14821336e-05
   3.24035466e-05  3.26789114e-05  1.42732678e-05  3.65938451e-05
   7.84942997e-06  1.17881215e-05  3.78317512e-05  3.70410811e-05
   6.13128828e-05]
 [ 1.13923332e-05  2.06772022e-05  1.46241384e-05  2.26661934e-05
   6.84026481e-06 -1.32231396e-06  1.24447111e-05  9.87898712e-06
   1.48605956e-05  1.78925989e-05  1.91785058e-05  1.04371909e-05
  -5.96031995e-07  2.55326054e-05  1.46177124e-05  1.11173657e-05
   2.03430402e-05  2.21657844e-05  7.44815177e-06  1.68043197e-05
   9.49798660e-06  1.37526884e-05 -2.48714064e-06  9.14146401e-06
  -2.86266140e-06  1.30848393e-05  1.33214668e-05  2.11424317e-05
   1.27917754e-05]
 [ 4.46413273e-05  1.46241384e-05  5.04716772e-05  4.43253290e-05
   9.63293580e-06  1.10488017e-05  4.48617092e-05  3.15202574e-05
   5.38639848e-05  4.12017753e-05  1.88921825e-05  3.55928634e-05
   8.71013625e-06  3.93220545e-05  5.30835693e-05  1.59319328e-05
   3.09688079e-05  4.06607693e-05  1.97460586e-05  4.09163004e-05
   2.61366393e-05  3.25985319e-05  1.36858471e-05  3.22384159e-05
   7.16200042e-06  2.36222367e-05  3.44822921e-05  2.91034070e-05
   4.87616969e-05]
 [ 5.78426677e-05  2.26661934e-05  4.43253290e-05  2.16276076e-04
   4.55546061e-05  1.17864120e-05  5.57280429e-05  4.01354628e-05
   7.16087265e-05  8.44223798e-05  2.69272517e-05  5.22606692e-05
   1.53440505e-05  8.11798888e-05  8.00803676e-05  2.98203325e-05
   7.23007650e-05  2.06068697e-04  2.23061441e-05  4.92593806e-05
   3.91155343e-05  3.89128531e-05  6.12671373e-06  4.56995019e-05
   5.86764913e-06  3.30084268e-05  3.95145039e-05  8.14784625e-05
   5.88378901e-05]
 [ 2.30038156e-06  6.84026481e-06  9.63293580e-06  4.55546061e-05
   2.94099931e-04  4.82339136e-05  2.07126193e-05  3.21267071e-05
   6.92564432e-06  1.91427571e-04  4.41296848e-05  1.36644924e-05
   9.56722897e-05  3.88469077e-05  6.00559062e-05  1.28677262e-04
   7.28820356e-06  4.91762590e-05  1.38936839e-05  4.53348150e-05
   8.09403007e-06  5.68475026e-05  1.07938900e-04  1.91459786e-05
   7.03876359e-05  1.10785669e-05  2.38937439e-05  2.56892040e-05
   1.57562742e-05]
 [ 1.57211951e-05 -1.32231396e-06  1.10488017e-05  1.17864120e-05
   4.82339136e-05  2.92860714e-05  1.56843777e-05  1.51958418e-05
   1.86151746e-05  4.88427111e-05  4.06089298e-06  1.24307148e-05
   3.15714309e-05  8.63760597e-06  3.26599933e-05  2.78174360e-05
   3.42598667e-06  9.25839818e-06  7.82989834e-06  2.06782099e-05
   9.43490081e-06  8.80016505e-06  3.23467055e-05  1.22694844e-05
   2.82236282e-05 -3.34098979e-06  1.35307505e-05  1.05282758e-06
   1.92199638e-05]
 [ 5.53252517e-05  1.24447111e-05  4.48617092e-05  5.57280429e-05
   2.07126193e-05  1.56843777e-05  5.93011306e-05  3.93217539e-05
   6.88247908e-05  5.62326459e-05  1.13236417e-05  4.17791924e-05
   1.45182374e-05  3.51949265e-05  5.41616917e-05  2.40352189e-05
   4.10841718e-05  4.84653038e-05  2.74174398e-05  4.33189271e-05
   3.11941109e-05  3.80690112e-05  2.11495343e-05  3.75116098e-05
   1.15470028e-05  1.63007530e-05  3.94589313e-05  4.04145441e-05
   6.06317076e-05]
 [ 3.71796240e-05  9.87898712e-06  3.15202574e-05  4.01354628e-05
   3.21267071e-05  1.51958418e-05  3.93217539e-05  3.63949272e-05
   4.42230927e-05  5.26215294e-05  7.02606253e-06  2.60311235e-05
   1.72547639e-05  2.28208792e-05  4.34690541e-05  2.26789602e-05
   2.33752774e-05  3.61068356e-05  2.37539608e-05  3.63011712e-05
   2.35467834e-05  3.42405687e-05  2.02786546e-05  2.42009489e-05
   1.35530085e-05  1.13496388e-05  3.21784377e-05  2.72995567e-05
   3.99530123e-05]
 [ 7.31124348e-05  1.48605956e-05  5.38639848e-05  7.16087265e-05
   6.92564432e-06  1.86151746e-05  6.88247908e-05  4.42230927e-05
   9.43533322e-05  5.13972980e-05  6.56389961e-06  5.38415597e-05
   1.29260186e-05  3.93284311e-05  8.59677725e-05  1.66800664e-05
   5.33505101e-05  5.91488576e-05  2.87380224e-05  4.84379196e-05
   3.90745407e-05  3.87150239e-05  1.93048176e-05  4.78697727e-05
   9.62745057e-06  1.93511981e-05  4.42721876e-05  4.81883584e-05
   7.65616572e-05]
 [ 3.51450025e-05  1.78925989e-05  4.12017753e-05  8.44223798e-05
   1.91427571e-04  4.88427111e-05  5.62326459e-05  5.26215294e-05
   5.13972980e-05  3.08499774e-04  3.39321693e-05  3.24839896e-05
   8.04350714e-05  5.16018154e-05  1.50738524e-04  9.90161412e-05
   3.94363795e-05  8.07604201e-05  3.24199408e-05  6.27956026e-05
   3.64883487e-05  5.62920306e-05  8.89335876e-05  3.12287636e-05
   6.08445562e-05  3.27551096e-05  5.31881395e-05  3.72825309e-05
   5.01805312e-05]
 [ 6.93064101e-06  1.91785058e-05  1.88921825e-05  2.69272517e-05
   4.41296848e-05  4.06089298e-06  1.13236417e-05  7.02606253e-06
   6.56389961e-06  3.39321693e-05  6.53995882e-05  1.00263610e-05
   1.54556106e-05  4.09642406e-05  3.66032697e-06  2.70411844e-05
   2.01742887e-05  3.27642801e-05  3.13609834e-06  1.60421392e-05
   7.11300358e-06  2.13079584e-05  1.35057861e-05  1.05557619e-05
   8.49325849e-06  1.84821364e-05  1.84038461e-05  2.39236474e-05
   9.26050255e-06]
 [ 4.12698816e-05  1.04371909e-05  3.55928634e-05  5.22606692e-05
   1.36644924e-05  1.24307148e-05  4.17791924e-05  2.60311235e-05
   5.38415597e-05  3.24839896e-05  1.00263610e-05  4.66148896e-05
   7.36207499e-06  1.82840796e-05  5.03097064e-05  1.27033248e-05
   2.57388680e-05  4.38168520e-05  1.42910300e-05  3.24175870e-05
   2.43186057e-05  2.72719746e-05  1.38613541e-05  4.16297440e-05
   7.72386206e-06  1.82481349e-05  2.52208045e-05  2.98291225e-05
   4.72866151e-05]
 [ 1.03945989e-05 -5.96031995e-07  8.71013625e-06  1.53440505e-05
   9.56722897e-05  3.15714309e-05  1.45182374e-05  1.72547639e-05
   1.29260186e-05  8.04350714e-05  1.54556106e-05  7.36207499e-06
   5.27123873e-05  2.12282626e-05  3.03425796e-05  4.55922791e-05
   4.49885793e-06  1.49462475e-05  9.11009400e-06  2.13509039e-05
   8.48641834e-06  1.97201977e-05  5.42966737e-05  8.20074798e-06
   3.81931760e-05 -2.05972046e-06  1.76887070e-05  6.33158686e-06
   1.43264793e-05]
 [ 3.24245858e-05  2.55326054e-05  3.93220545e-05  8.11798888e-05
   3.88469077e-05  8.63760597e-06  3.51949265e-05  2.28208792e-05
   3.93284311e-05  5.16018154e-05  4.09642406e-05  1.82840796e-05
   2.12282626e-05  1.39303495e-04 -4.28258147e-06  3.42482668e-05
   5.46371472e-05  8.41121701e-05  2.21945767e-05  3.54429177e-05
   2.41308101e-05  2.03076334e-05  1.21521701e-05  1.84786073e-05
   9.73267535e-06  2.05337521e-05  3.96883016e-05  4.92120098e-05
   3.60118538e-05]
 [ 6.38896764e-05  1.46177124e-05  5.30835693e-05  8.00803676e-05
   6.00559062e-05  3.26599933e-05  5.41616917e-05  4.34690541e-05
   8.59677725e-05  1.50738524e-04  3.66032697e-06  5.03097064e-05
   3.03425796e-05 -4.28258147e-06  4.28134554e-04  3.19743559e-05
   1.90884151e-05  6.36921816e-05  1.24296202e-05  5.56713184e-05
   3.37869765e-05  5.37739185e-05  3.42528889e-05  4.83510756e-05
   2.63506588e-05  6.25943670e-05  3.69250809e-05  1.03520690e-05
   5.98065247e-05]
 [ 1.47231222e-05  1.11173657e-05  1.59319328e-05  2.98203325e-05
   1.28677262e-04  2.78174360e-05  2.40352189e-05  2.26789602e-05
   1.66800664e-05  9.90161412e-05  2.70411844e-05  1.27033248e-05
   4.55922791e-05  3.42482668e-05  3.19743559e-05  1.21937662e-04
   2.54876255e-05  3.07095407e-05  2.34518791e-05  3.18797401e-05
   1.10634867e-05  4.43991085e-05  5.24964829e-05  1.43870830e-05
   3.72881385e-05 -7.91045803e-06  1.82011159e-05  1.72384553e-05
   2.09058012e-05]
 [ 4.54667950e-05  2.03430402e-05  3.09688079e-05  7.23007650e-05
   7.28820356e-06  3.42598667e-06  4.10841718e-05  2.33752774e-05
   5.33505101e-05  3.94363795e-05  2.01742887e-05  2.57388680e-05
   4.49885793e-06  5.46371472e-05  1.90884151e-05  2.54876255e-05
   9.42841075e-05  6.42902448e-05  2.30085461e-05  3.03127506e-05
   2.59306498e-05  3.19689864e-05  5.32028329e-06  2.05618359e-05
  -1.76194420e-06  6.13378721e-06  2.86049766e-05  5.06781308e-05
   4.30427752e-05]
 [ 4.93437135e-05  2.21657844e-05  4.06607693e-05  2.06068697e-04
   4.91762590e-05  9.25839818e-06  4.84653038e-05  3.61068356e-05
   5.91488576e-05  8.07604201e-05  3.27642801e-05  4.38168520e-05
   1.49462475e-05  8.41121701e-05  6.36921816e-05  3.07095407e-05
   6.42902448e-05  2.03774394e-04  1.89846484e-05  4.55006609e-05
   3.56741313e-05  3.59767269e-05  5.89808007e-06  3.85745510e-05
   5.53482073e-06  3.54131608e-05  3.69564628e-05  7.46544678e-05
   5.08156971e-05]
 [ 2.59370458e-05  7.44815177e-06  1.97460586e-05  2.23061441e-05
   1.38936839e-05  7.82989834e-06  2.74174398e-05  2.37539608e-05
   2.87380224e-05  3.24199408e-05  3.13609834e-06  1.42910300e-05
   9.11009400e-06  2.21945767e-05  1.24296202e-05  2.34518791e-05
   2.30085461e-05  1.89846484e-05  2.67499381e-05  2.56565703e-05
   1.71377988e-05  2.78716529e-05  1.06380861e-05  1.34054168e-05
   6.27305359e-06  1.85087847e-06  2.11932578e-05  2.02921491e-05
   2.58633602e-05]
 [ 4.14821336e-05  1.68043197e-05  4.09163004e-05  4.92593806e-05
   4.53348150e-05  2.06782099e-05  4.33189271e-05  3.63011712e-05
   4.84379196e-05  6.27956026e-05  1.60421392e-05  3.24175870e-05
   2.13509039e-05  3.54429177e-05  5.56713184e-05  3.18797401e-05
   3.03127506e-05  4.55006609e-05  2.56565703e-05  6.54783782e-05
   2.66567495e-05  3.77807004e-05  2.55288496e-05  3.01559936e-05
   1.77462328e-05  1.53721795e-05  3.11242034e-05  3.09553836e-05
   4.58516792e-05]
 [ 3.24035466e-05  9.49798660e-06  2.61366393e-05  3.91155343e-05
   8.09403007e-06  9.43490081e-06  3.11941109e-05  2.35467834e-05
   3.90745407e-05  3.64883487e-05  7.11300358e-06  2.43186057e-05
   8.48641834e-06  2.41308101e-05  3.37869765e-05  1.10634867e-05
   2.59306498e-05  3.56741313e-05  1.71377988e-05  2.66567495e-05
   2.22517030e-05  2.36930793e-05  9.62895431e-06  2.17011045e-05
   5.91570378e-06  9.96700757e-06  2.40905878e-05  2.31740062e-05
   3.38481472e-05]
 [ 3.26789114e-05  1.37526884e-05  3.25985319e-05  3.89128531e-05
   5.68475026e-05  8.80016505e-06  3.80690112e-05  3.42405687e-05
   3.87150239e-05  5.62920306e-05  2.13079584e-05  2.72719746e-05
   1.97201977e-05  2.03076334e-05  5.37739185e-05  4.43991085e-05
   3.19689864e-05  3.59767269e-05  2.78716529e-05  3.77807004e-05
   2.36930793e-05  8.29081794e-05  2.40908088e-05  2.65394500e-05
   1.03396277e-05  1.17889500e-05  2.93568502e-05  2.83419138e-05
   3.38798536e-05]
 [ 1.42732678e-05 -2.48714064e-06  1.36858471e-05  6.12671373e-06
   1.07938900e-04  3.23467055e-05  2.11495343e-05  2.02786546e-05
   1.93048176e-05  8.89335876e-05  1.35057861e-05  1.38613541e-05
   5.42966737e-05  1.21521701e-05  3.42528889e-05  5.24964829e-05
   5.32028329e-06  5.89808007e-06  1.06380861e-05  2.55288496e-05
   9.62895431e-06  2.40908088e-05  6.69613645e-05  1.40419721e-05
   4.04985002e-05  3.76990959e-06  1.93677327e-05  8.07295604e-06
   2.03104632e-05]
 [ 3.65938451e-05  9.14146401e-06  3.22384159e-05  4.56995019e-05
   1.91459786e-05  1.22694844e-05  3.75116098e-05  2.42009489e-05
   4.78697727e-05  3.12287636e-05  1.05557619e-05  4.16297440e-05
   8.20074798e-06  1.84786073e-05  4.83510756e-05  1.43870830e-05
   2.05618359e-05  3.85745510e-05  1.34054168e-05  3.01559936e-05
   2.17011045e-05  2.65394500e-05  1.40419721e-05  3.82160071e-05
   8.52867690e-06  1.67511674e-05  2.27176077e-05  2.62293657e-05
   4.22772296e-05]
 [ 7.84942997e-06 -2.86266140e-06  7.16200042e-06  5.86764913e-06
   7.03876359e-05  2.82236282e-05  1.15470028e-05  1.35530085e-05
   9.62745057e-06  6.08445562e-05  8.49325849e-06  7.72386206e-06
   3.81931760e-05  9.73267535e-06  2.63506588e-05  3.72881385e-05
  -1.76194420e-06  5.53482073e-06  6.27305359e-06  1.77462328e-05
   5.91570378e-06  1.03396277e-05  4.04985002e-05  8.52867690e-06
   3.26025045e-05 -4.29936744e-06  1.18099926e-05 -9.52413645e-07
   1.29654729e-05]
 [ 1.17881215e-05  1.30848393e-05  2.36222367e-05  3.30084268e-05
   1.10785669e-05 -3.34098979e-06  1.63007530e-05  1.13496388e-05
   1.93511981e-05  3.27551096e-05  1.84821364e-05  1.82481349e-05
  -2.05972046e-06  2.05337521e-05  6.25943670e-05 -7.91045803e-06
   6.13378721e-06  3.54131608e-05  1.85087847e-06  1.53721795e-05
   9.96700757e-06  1.17889500e-05  3.76990959e-06  1.67511674e-05
  -4.29936744e-06  1.01948538e-04  1.27302876e-05  1.92875425e-05
   1.46603328e-05]
 [ 3.78317512e-05  1.33214668e-05  3.44822921e-05  3.95145039e-05
   2.38937439e-05  1.35307505e-05  3.94589313e-05  3.21784377e-05
   4.42721876e-05  5.31881395e-05  1.84038461e-05  2.52208045e-05
   1.76887070e-05  3.96883016e-05  3.69250809e-05  1.82011159e-05
   2.86049766e-05  3.69564628e-05  2.11932578e-05  3.11242034e-05
   2.40905878e-05  2.93568502e-05  1.93677327e-05  2.27176077e-05
   1.18099926e-05  1.27302876e-05  4.55389000e-05  3.09647618e-05
   3.95766597e-05]
 [ 3.70410811e-05  2.11424317e-05  2.91034070e-05  8.14784625e-05
   2.56892040e-05  1.05282758e-06  4.04145441e-05  2.72995567e-05
   4.81883584e-05  3.72825309e-05  2.39236474e-05  2.98291225e-05
   6.33158686e-06  4.92120098e-05  1.03520690e-05  1.72384553e-05
   5.06781308e-05  7.46544678e-05  2.02921491e-05  3.09553836e-05
   2.31740062e-05  2.83419138e-05  8.07295604e-06  2.62293657e-05
  -9.52413645e-07  1.92875425e-05  3.09647618e-05  7.01516625e-05
   3.84474908e-05]
 [ 6.13128828e-05  1.27917754e-05  4.87616969e-05  5.88378901e-05
   1.57562742e-05  1.92199638e-05  6.06317076e-05  3.99530123e-05
   7.65616572e-05  5.01805312e-05  9.26050255e-06  4.72866151e-05
   1.43264793e-05  3.60118538e-05  5.98065247e-05  2.09058012e-05
   4.30427752e-05  5.08156971e-05  2.58633602e-05  4.58516792e-05
   3.38481472e-05  3.38798536e-05  2.03104632e-05  4.22772296e-05
   1.29654729e-05  1.46603328e-05  3.95766597e-05  3.84474908e-05
   6.73461486e-05]]

In [36]:
data['dates']

array([Timestamp('2006-03-08 00:00:00+0000', tz='UTC'),
       Timestamp('2006-03-09 00:00:00+0000', tz='UTC'),
       Timestamp('2006-03-10 00:00:00+0000', tz='UTC'),
       Timestamp('2006-03-14 00:00:00+0000', tz='UTC'),
       Timestamp('2006-03-16 00:00:00+0000', tz='UTC'),
       Timestamp('2006-03-20 00:00:00+0000', tz='UTC'),
       Timestamp('2006-03-22 00:00:00+0000', tz='UTC'),
       Timestamp('2006-03-24 00:00:00+0000', tz='UTC'),
       Timestamp('2006-03-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-03-28 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-03-29 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-03-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-03-31 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-03 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-04 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-07 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-24 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-04-28 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-08 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-09 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-15 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-16 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-23 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-24 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-05-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-01 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-02 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-07 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-08 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-09 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-14 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-16 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-21 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-22 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-28 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-29 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-06-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-05 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-06 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-07 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-12 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-14 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-21 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-24 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-25 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-07-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-02 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-03 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-04 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-08 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-16 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-17 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-21 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-22 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-23 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-24 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-25 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-29 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-08-31 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-05 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-06 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-08 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-12 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-14 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-15 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-21 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-22 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-25 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-28 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-09-29 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-10-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-10-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-10-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-10-16 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-10-17 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-10-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-10-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2006-10-31 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-01 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-06 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-07 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-08 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-10 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-13 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-14 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-16 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-17 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-21 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-24 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-27 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-28 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-29 00:00:00+0000', tz='UTC'),
       Timestamp('2006-11-30 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-04 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-05 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-07 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-08 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-11 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-13 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-14 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-15 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-18 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-19 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-20 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-21 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-22 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-27 00:00:00+0000', tz='UTC'),
       Timestamp('2006-12-28 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-04 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-05 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-09 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-10 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-11 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-12 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-16 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-17 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-18 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-19 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-22 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-23 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-24 00:00:00+0000', tz='UTC'),
       Timestamp('2007-01-31 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-01 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-02 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-06 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-07 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-08 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-09 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-13 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-14 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-15 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-26 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-27 00:00:00+0000', tz='UTC'),
       Timestamp('2007-02-28 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-02 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-05 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-06 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-07 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-08 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-09 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-12 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-13 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-14 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-15 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-16 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-20 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-22 00:00:00+0000', tz='UTC'),
       Timestamp('2007-03-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-03-28 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-03-29 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-03-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-02 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-03 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-04 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-12 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-16 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-17 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-23 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-24 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-04-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-08 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-09 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-14 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-15 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-16 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-22 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-23 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-25 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-29 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-05-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-01 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-04 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-08 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-12 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-14 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-15 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-21 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-25 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-28 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-06-29 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-03 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-05 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-06 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-12 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-23 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-24 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-25 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-07-31 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-02 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-03 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-07 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-08 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-16 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-17 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-21 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-22 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-23 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-24 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-28 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-29 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-08-31 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-04 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-05 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-06 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-10 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-12 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-14 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-21 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-27 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-09-28 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-09 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-11 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-17 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-18 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-22 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-23 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-24 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-25 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-26 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2007-10-29 00:00:00+0000', tz='UTC'),
       Timestamp('2007-10-30 00:00:00+0000', tz='UTC'),
       Timestamp('2007-10-31 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-01 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-05 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-06 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-07 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-12 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-13 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-14 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-16 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-21 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-26 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-27 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-28 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-29 00:00:00+0000', tz='UTC'),
       Timestamp('2007-11-30 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-03 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-04 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-05 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-07 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-10 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-11 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-13 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-14 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-17 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-18 00:00:00+0000', tz='UTC'),
       Timestamp('2007-12-27 00:00:00+0000', tz='UTC'),
       Timestamp('2008-01-04 00:00:00+0000', tz='UTC'),
       Timestamp('2008-01-07 00:00:00+0000', tz='UTC'),
       Timestamp('2008-01-08 00:00:00+0000', tz='UTC'),
       Timestamp('2008-01-09 00:00:00+0000', tz='UTC'),
       Timestamp('2015-09-30 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2015-10-08 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2015-10-13 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2015-10-14 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2015-10-15 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2015-10-16 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2015-10-19 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2015-10-20 00:00:00+0100', tz='UTC+01:00'),
       Timestamp('2015-10-26 00:00:00+0000', tz='UTC'),
       Timestamp('2015-10-27 00:00:00+0000', tz='UTC'),
       Timestamp('2015-10-28 00:00:00+0000', tz='UTC'),
       Timestamp('2015-10-29 00:00:00+0000', tz='UTC'),
       Timestamp('2015-10-30 00:00:00+0000', tz='UTC'),
       Timestamp('2015-11-04 00:00:00+0000', tz='UTC'),
       Timestamp('2015-11-05 00:00:00+0000', tz='UTC'),
       Timestamp('2015-11-06 00:00:00+0000', tz='UTC'),
       Timestamp('2015-11-09 00:00:00+0000', tz='UTC'),
       Timestamp('2015-11-13 00:00:00+0000', tz='UTC'),